<% include ../partials/header %>
<div class = 'container'>
    <div class = 'row'>
        <div class = 'col-md-3'>
            <p class = 'lead'>YelpCamp</p>
            <div class = 'list-group'>
                <li class = 'list-group-item active'>Info 1</li>
                <li class = 'list-group-item'>Info 2</li>
                <li class = 'list-group-item'>Info 3</li>
            </div>
        </div>
        <div class = 'col-md-9'>
            <div class = 'card'>
                <img class = 'img-fluid' src = "<%= campground.image %>">
                <div class = 'py-2'>
                    <h4 class = 'text-right'>$9.00/night</h4>
                    <h4><a><%= campground.name %></a></h4>
                    <p><%= campground.description %></p>
                    <p>Created by: <%= campground.author.username %></p>
                </div>
                <a id = 'button' class = 'btn btn-xs btn-outline-warning' href = '/campgrounds/<%= campground._id %>/edit'>Edit</a>
                <!--Delete-->
                <form action = '/campgrounds/<%=campground._id%>?_method=DELETE' method="POST">
                    <button id = 'button' class = 'btn btn-xs btn-danger'>Delete</button>
                </form>
            </div>
            <div class = 'card-block'>
                <div class = 'text-right'>
                    <a class = 'btn btn-success' href = '/campgrounds/<%= campground._id %>/comments/new'>Add a comment</a>
                </div>
                <hr>
                <% campground.comments.forEach(function(comment){ %>
                    <div class = 'row'>
                        <div class = 'col-md-12'>
                            <strong><%= comment.author.username %></strong>
                            <span class ='ml-auto'>8 days ago</span>
                            <p>
                                <%= comment.text %>
                            </p>
                        </div>
                    </div>
                <% });%>
            </div>
        </div>
    </div>
</div>







<% include ../partials/footer %>