<% include ../partials/header %>

    <div class = 'row'>
        <div class = 'col-md-3'>
            <p class = 'lead'>YelpCamp</p>
            <div class = 'list-group'>
                <li class = 'list-group-item active'>Info 1</li>
                <li class = 'list-group-item'>Info 2</li>
                <li class = 'list-group-item'>Info 3</li>
            </div>
        </div>
        <div class = 'col-md-9'>
            <div class = 'card mb-3'>
                <img class = 'img-fluid' src = "<%= campground.image %>">
                <div class = 'card-body'>
                    <p class = 'text-right'>$<%= campground.price %>/night</p>
                    <h4><a class = 'card-title'><%= campground.name %></a></h4>
                    <p><%= campground.description %></p>
                    <em>Submitted by: <%= campground.author.username %></em>
                
                <!-- authorization-->
                <% if(currentUser && campground.author.id.equals(currentUser._id)) { %>
                <a class = 'btn btn-sm btn-warning' href = '/campgrounds/<%= campground._id %>/edit'>Edit</a>
                <!--Delete-->
                <form class = 'dbutton' action = '/campgrounds/<%=campground.id%>?_method=DELETE' method="POST">
                    <button class = 'btn btn-sm btn-outline-danger'>Delete</button>
                </form>
                <% } %>
            </div>
            </div>
                <!--=======================================================================================-->
            <div class = 'card'>
                <div class = 'card-body'>
                    <div class = 'float-right'>
                        <a class = 'btn btn-sm btn-success' href = '/campgrounds/<%= campground._id %>/comments/new'>Add a comment</a>
                    </div>
                        <% campground.comments.forEach(function(comment){ %>
                            <div class = 'row'>
                                <div class = 'col-md-12'>
                                    <div class = 'card'>
                                        <div class = 'card-body'>
                                            <div class = 'float-left'>
                                                <strong><%= comment.author.username %></strong>
                                                <p><%= comment.text %></p>
                                            </div>
                                            <div class = 'float-right'>
                                                <p>8 days ago</p>

                                                <% if(currentUser && comment.author.id.equals(currentUser._id)) { %>
                                                <div class = 'float-right'>
                                                    <!--edit comment-->
                                                    <a  href = '/campgrounds/<%= campground._id %>/comments/<%= comment._id %>/edit' class = 'btn btn-sm btn-warning'>Edit</a>
                                                    <!--delete comment-->
                                                    <form class = 'dbutton' action = '/campgrounds/<%= campground._id %>/comments/<%= comment._id %>?_method=Delete' method = 'POST'>
                                                        <button class = 'btn btn-sm btn-danger'>Delete</button>
                                                    </form>
                                                </div>
                                                <% } %>
                                            </div>
                                        </div>
                                    </div>       
                                </div>
                            </div>
                        <% });%>
                    </div>
                </div>     
            </div>
        </div>
<% include ../partials/footer %>